/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* global */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}
a {
    background-color: #E02C6D;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    padding: 10px 24px;
    transition: .4s;
}

a:hover{
    background-color: crimson;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.half{
    width: 50%;
}

/* head section */

nav {
    width: 80% ;
    margin-bottom: 49px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}

.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.menu-bars{
    display: none;
}

.menu ul li {
    list-style: none;
    color: white;
    margin-right: 20px;
}

header{
    background-color: #2D25A0;
    padding: 49px 31px 114px;
}
.top-banner, .highlights {
    display: flex;
    flex-direction: row;
    width:1050px;
}


.title-img, .klopp {
    transition: 1s;
}

.title-img:hover, .klopp:hover {
    transform: rotateY(45deg);

}

.title h1{
    color: white;
    font-weight: 700;
    font-size: 3.5em;
}

.fa-arrow-right {
    margin-left: 8px;
}

/* players */
.players{
        padding-top: 70px;
}
.player-cards, .transfer-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
   width: 1050px;
}

.player-cards{
    grid-row-gap: 45px;
}
.cards, .transfer-card  {
    width: 300px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
}
.cards img {
    height: 256px;
    width: 300px;
}

.cards h3 {
    font-size: 28px;
    margin: 10px 0;
}
.cards p {
   font-size: 16px;
    margin-top: 0;
}


/* matches */
.fixtures {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.upcoming-matches{
    width: 50%;
}

.match-heading {
    text-align: center;
}


table {
    width: 100%;
    text-align: center;
    font-size: 20px;   
}

table td {
    border: 1px solid grey;
    border-collapse: collapse;
}

tr:hover {
    background-color: rgba(128, 128, 128, 0.137);
}
th{
    padding: 20px;
    color:rgb(49, 84, 85);
}

tr {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

td {
    padding: 10px;
}


/* transfer  */

.transfers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 255, 0.205) ;
    padding-bottom: 40px;
}


.transfer-title {
    text-align: center;
}

.transfer-head, .match-heading {
    font-size: 2.5em;
    color: rgb(221, 61, 33);
} 


/* highlights */

.highlights {
    margin-top: 120px;
}

.highlights-title {
    padding-right: 66px;
}

.highlights h1 {
    font-size: 2rem;
    margin: 0 0;
}

.highlights p {
    text-align: justify;
}

.klopp{
    width: 100%;
}

.btn {
    margin-top: 34px;
}

/* hr  */
hr {

    margin-top: 40px;
    width: 80%;
    border: 1px solid rgba(255, 0, 0, 0.212);
}


/* footer */
 footer{
     margin: 140px 0 60px;
 }

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.badge img {
    height: 80px;
    padding-right: 20px;
}

.badge h1 {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.social p {
    margin-bottom: 0;
}

.fab {
    padding: 10px 10px;
    font-size: 20px;
    color: #969BAB;
    background-color: #E7E7E8;
    border-radius: 20px;
}

.copyrights {
    font-size: 18px;
}


/* media queries */

@media only screen and (max-width:688px) {
    /* common */
.container{
    padding-top: 0;
}
.half {
    width: 100%;
}

.half img {
    width: 100%;
    margin-top: 50px;
}
/* header section  */

nav {
    width: 90%;
}
    .header {
        padding:10px;
    }
    .menu {
        width: 100%;
    }
   
    .menu-items{
        display: none;
    }

    .menu-bars{
       display: block;
    }
    .top-banner, .highlights {
        flex-direction: column;
        width: 100%;
    }
    .title h1 {
        font-size: 36px;
    }
    
    /* players  */
    .players {
        justify-content: ;
        width: 100%;
      margin-top: 47px;
    }

    .player-cards, .transfer-cards{
        margin: 0;
        margin-left: 5%;
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
    }
/* matches */

.upcoming-matches{
    width: 90%;
}

table td {
    text-align: center;
    justify-content: center;
    height: 60px;
}
/* transfers  */

.transfers {
    width: 100%;
    margin: 0;
}

/* highlights */

.highlights{
    margin-top: 60px;
}

.highlights-title {
    width: 90%;
    margin: 0 5%;
    padding: 0;
}

.klopp {
    border-radius: 10px;
}

footer {
    margin-top: 40px;
    margin-bottom: 150px;
}

}

/* tablet */

@media only screen and (min-width:689px) and (max-width:768px){
   /* header section  */
nav{
    width: 90%;
}

   .header {
    padding:10px;
}
.menu {
    width: 100%;
}

.menu-items{
    display: none;
}

.menu-bars{
   display: block;
}
.top-banner, .highlights {
    width: 100%;
}
.title h1 {
    font-size: 36px;
}

.half img {
    width: 100%;
    margin-top: 50px;
}


  /* players  */
  .players {
    width: 100%;
  margin-top: 47px;
}

.player-cards, .transfer-cards{
    margin: 0;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
}


/* transfers  */
.transfers {
    margin:  40px 0;
}

/* highlights */

.highlights{
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
}

.highlights-title {
    width: 90%;
    margin: 0 5%;
    padding: 0;
}

.klopp {
    border-radius: 10px;
}

/* footer  */
footer {
    margin-top: 60px;
    margin-bottom: 150px;
}



}











